<div class="row">
  <div class="col-12 text-center">
    <h1 class="display-1">{{ title }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-estatus-conexion></app-estatus-conexion>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-gps></app-gps>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-modal></app-modal>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-input-validaciones></app-input-validaciones>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <app-index-db></app-index-db>
      </div>
    </div>
  </div>
</div>
